# Dependencies
node_modules/
/backend/node_modules/
/frontend/node_modules/

# Backend
/backend/dist/
/backend/build/

# Next.js (Frontend)
frontend/.next/
/frontend/out/
/frontend/build/
/frontend/.vercel/

# Environment variables
.env
.env.*
.env.local
.env.development
.env.test
.env.production
/frontend/.env*
/backend/.env*

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Testing
/coverage/
.nyc_output/

# Misc
.DS_Store
*.pem
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Temp
.temp/
.tmp/
/tmp/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Yarn
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
